/* Спецификация */

body {
    font-family: 'PT Sans', sans-serif;
}

ul, li {
    display: block;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 700;
    color: #000
}

h3 {
    font-weight: 400;
}

h2 {
    text-align: center;
}

.title {
    padding-top: 100px;
    padding-bottom:70px;
    text-align: center;
}

.title__main {
    font-size: 32px;
}

.title__text {
    font-size: 20px;
    width: 780px;
    margin: 0 auto;
}

.yellow {
    color: #fcdb00;
}


/* Первый экран */

.header {
    background: #FFFFFF;
    color: #777777;
    padding-top:20px;
    padding-bottom: 105px;
}

.menu {
    margin-top:18px;
	background: #f8f8f8;
	line-height:2em;
}

.menu__item {
    margin: 0 22px;
	line-height: 2em;
}

.menu__item a {
    font-size:18px;
    font-weight:400;
    color: #7b7984;
	background: #f8f8f8;
	line-height:2em;
}
.menu__item a:hover {
    text-decoration: none;
    color: #000000;
	background: #777777;
	line-height:2em;
}



.offer-tr {
    margin-top:30px;
	text-align: center;
}

.offer__title-tr {
    font-size:34px;
    margin-bottom: 15px;
    margin-top: 25px;
	text-align: left;
	color: #428bca;
	font-weight:400;
}
.offer__title-tr a {
	color: #428bca;

}
.offer__title-tr a:hover {
    text-decoration: underline;
    color: #454647;

}
.offer__intro-tr {
    margin-top:20px;
	margin-bottom:25px;
	font-weight:700;
	font-size: 18px;
	line-height: 1.3em;
	color: #454647;
	text-align: left;
}

.offer__text-tr {
    line-height: 1em;
	font-size: 16px;
	font-weight:400;
    margin-top:10px;
   	margin-left:15px;
	color: #454647;
	text-align: left;
}

.icons__item-tr {
	margin-left:30px;
	font-weight:400;
	text-align: left;
	font-size: 8px;
}



.offer {
    margin-top:30px;
	text-align: center;
}

.offer__title {
    font-size:18px;
    margin-bottom: 45px;
	text-align: center;
	color: #454647;
}

.offer__intro {
    margin-top:25px;
	font-size: 16px;
	line-height: 1.3em;
	color: #454647;
	text-align: justify;
}

.offer__text {
    font-size: 16px;
	font-weight:400;
    margin-top:25px;
   	color: #454647;

}

.icons__item {
	margin-left:50px;
	font-weight:400;
	text-align: left;
}

.icons__item a {
    color: #777777;
    font-size: 14px;
    transition: all 0.3s ease;
}

.icons__item a:hover {
    text-decoration: none;
    color: #2d8fff;
}

.ipad {
    display: block;
    margin: 35px auto;
	text-align: left;
}

/* Второй экран */

.feature {
    margin-bottom: 25px;
	font-size: 16px;
	color: #333333
}

.feature__icon {
    margin-top:15px;
	font-size: 14px;
    color: #333333;
	text-align: center;
}

.feature__text {
    margin-top: 10px;
	font-size: 14px;
	color:#404141;
	text-align: center;
	font-weight:400;
}
.feature__title{
    font-size: 16px;
	line-height: 1em;
	color:#404141;
	text-align: justify;
}
/* Третий экран */

.touch {

}

.form {
    text-align: center;
}

.form__input {

    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    border-radius: 5px;
    width: 580px;
    padding: 14px 0;
    margin-right:21px;
    border: 0;
    padding-left:23px;
    outline: none;
}

.form__btn {
    font-family: 'PT Sans', sans-serif;
    background: #fcdb00;
    color: #000;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    width: 126px;
    border: 0;
    padding: 14px 0;
    cursor: pointer;
    outline: none;
}

/* Футер */

.footer {
	background: #f8f8f8;
    padding:50px 0 94px;
	font-size: 14px;
    font-weight: 400;
}
.title {
	text-align: center;
}

.title__title {
    font-size:14px;
    margin-bottom: 45px;
	text-align: center;
}
.credits {
	background: #f8f8f8;
	color: #454647;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
}

/* Медиа-запросы */


@media screen and (max-width: 992px) {
    .logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .offer {
        text-align: center;
    }
    .offer__text {
        margin: 20px auto;
        width: auto;
    }
    .icons {
        justify-content: center;
    }
    .icons__item:nth-child(3) {
        margin-right: 0;
    }
    .form__input {
        margin-right:0;
        width: 100%;
    }
    .form__btn {
        margin-top: 20px;
        width: 100%;
    }
    .title__text {
        width: auto;
    }
}

@media screen and (max-width: 576px) {
    .ipad {
        width: 100%;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item {
		color: #898989;
        text-align: center;
        margin-bottom:10px;
    }
}
